body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  /* max-width: 700px; */
  /* margin: auto; */
  background-color: slategrey;
  /* text-align: center; */
}

a{
  text-decoration: none;
  color: indigo;
}

.fas, a:visited{
  color: indigo;
}

h2{
  letter-spacing: 2px;
  text-transform: uppercase;
}

header {
  background-color: slategrey;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 10px;
}

#header-img {
  height: 70px;
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0px 0px;
  padding: 0px 0px;
}
#nav-bar ul li{
  flex-grow: 1;
  text-align: center;
}

nav {
  width: 40%;
  background-color: slategrey;
  /* display: flex; */
}

main {
  padding-top: 80px;
  width: 70%;
  text-align: center;
  margin: auto;
}
form *{
  display: block;
  margin: 10px auto;
}
#email{
  width: 200px;
  height: 1.5em;
  font-size: 14px;
}
[type="submit"]{
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  height: 2em;
  background-color: thistle;
  color: slategrey;
}
#submit{
  font-weight: bold;
  letter-spacing: 2px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col-right{
  width: 80%;
  text-align: left;
}

.video{
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.cards{
  display: flex;
  justify-content:  space-between;
}
.card{
  border: 1px solid black;
  width: 30%;
  margin-top: 50px;
  padding-bottom: 10px;
}
h3{
  background-color: lightslategrey;
  color: darkslateblue;
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer{
  width: 70%;
  background-color: lightslategrey;
  padding: 10px;
  bottom: 0;
  text-align: right;
  margin: auto;
  MARGIN-TOP: 25PX;
}
.footer-links{
  padding: 10px;
}
/* Media queries */

@media screen and (max-width: 700px) {
  #nav-bar ul {
    flex-direction: column;
    padding: 0px;
  }
  .cards{
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  main {
    padding-top: 160px;
  }
  footer{
    width: 100%;
    padding: 0;
  }

}



@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  nav {
    width: 100%;
  }
  .col-left{
    display: none;
  }
  .col-right{
    width: 100%;
    text-align: center;
  }
}
